<div class="row justify-content-center">
  <div class="col-lg-4 text-center border p-4 rounded shadow">

    <h2>Login</h2>

    <form action="/login" method="POST" id="form-container">
      <label for="username">Username</label>
      <input id="username" type="text" name="username" placeholder="Your username">

      <br><br>

      <label for="password">Password</label>
      <input id="password" type="password" name="password" placeholder="Your password">
      <br>
      {{#if message }}
      <div class="error-message">{{ message }}</div>
      {{/if}}

      <br>

      <button class="btn btn-lg btn-change btn-dark border border-dark">Login</button>

      <p class="account-message">
        Don't have an account yet?
        <a href="/signup">Signup</a>
      </p>
    </form>
  </div>
</div>