<div class="row">

  <div class="col-lg-4">
    <figure>
      <img class="avatar" src="{{user.avatarPath}}" alt="{{user.username}}">
    </figure>
    <h1>Welcome, {{user.username}}! </h1>

    <button id="btn-upload" class="btn btn-dark mt-3">Add photo to your avatar</button>

    <section class="file-upload visibility">
      <h6>Upload your picture to your profile</h6>
      <form action="/profile" method="post" enctype="multipart/form-data">
        <input type="file" name="phototoupload"><br>
        <input type="submit" value="Save"><br>
      </form>
    </section>
  </div>

  <div class="col-lg-8">
    <h3 class="text-center">Favourites heroes</h3>
    <div class="row p-3">
      {{#each user.favourites}}
      <div class="col-md-3 mt-3">
        {{>indexCard this}}
      </div> 
      {{/each}}

    </div>
  </div>


</div>





<br><br>