<div class="row">

  <div class="col-lg-4">
    <figure>
      <img class="avatar" src="{{user.avatarPath}}" alt="{{user.username}}">
    </figure>
    <h1>Welcome, {{user.username}}! </h1>
  </div>

</div>


<div class="col-lg-6">
  <section class="file-upload">
    <h6>Upload your picture to your profile</h6>
    <form action="/profile" method="post" enctype="multipart/form-data">
      <input type="file" name="phototoupload"><br>
      <input type="submit" value="Save"><br>
    </form>
  </section>
</div>
<br><br>