<div class="index-center">

  <h1>{{title}}</h1>
  {{!-- <form class="form-inline my-2 my-lg-0" method="get" action="/">
    <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form> --}}

  {{!-- <form class="form-inline my-2 my-lg-0" method="post" action="/"> --}}
  <div class="input-home">
    <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search"
      id="index-input">
    {{!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> --}}
    {{!-- </form> --}}
  </div>
</div>
<div class="row characters-container">


</div>
<div class="row">
  {{#each randomHero}}
  <div class="col-md-2 mt-5">
    {{>indexCard this}}
  </div>
  {{/each}}
</div>

<script src="/javascripts/script.js"></script>