body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f7f7f7;
  h2 {
    margin-bottom: 20px;
  }
  button {
    margin-bottom: 20px;
  }
  label {
    font-size: 1rem;
  }
  container { 
    background-image: url(/public/images/logo-mastering-heroes.png);
  }
  .h-200{
    height: 200px;
  }
  #fight{
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid black;
  }
.selected-hero{
  min-height: 100px;
}
}
.btn-change {
  transition: 0.4s;
  
}
.btn-change:hover {
  transform: scale(1.1);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
a {
  color: #00b7ff;
}
nav {
  margin-bottom: 30px;
}
.navbar {
  padding: 15px 40px;
  background-color: #68c78e;
  border-bottom: 4px solid #fdd100;
  img {
    height: 50px;
  }
}

.avatar {
  width: 100px;
  border-radius: 50%;
}

.file-upload {
  position: absolute;
  padding: 50px 20px;
  background-color: rgba(10, 10, 10, 0.7);
  z-index: 100;
  color: white;
  border-radius: 4px;
  h6 {
    margin-bottom: 20px;
  }
}
.visibility {
  visibility: hidden;
}

.main-img {
  width: 400px;
}

.index-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;

  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  .carrousel {
    margin: 50px auto;
  }
  .img-carrousel {
    max-width: 300px;
  }
  input {
    max-width: 400px;
    border: 2px solid #68c78e;
  }
  .input-home {
    transition: 0.5s;
    width: 350px;
  }
  .input-home:hover {
    transform: scale(1.1);

  }
}

.card-index h6 {
  text-align: center;
}
.card-img-top {
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
}
.card-img-index {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.5s;
}
.card-img-index:hover {
  transform: scale(1.1);
}
.canvas-size {
  width: 500px;
}

.fav-btn {
  position: absolute;
  top: 10px;
  left: 30px;
  .btn {
    text-transform: uppercase;
    background-color: #fdd100;
  }
  #favourite {
    line-height: 0;
  }
}

.spotify-section {
  margin: 30px 0;
  .spotify-img {
    width: 150px;
  }
  h4{
    text-transform: uppercase;
        margin-bottom: 30px;

  }
  audio {
    margin: 30px 0;
    width: 150px;
  }
}

.movies-section{
  margin: 30px 0;
  .h-300{
    height: 300px;
  }
  .movies-img {
    width: 150px;
  }
   h4{
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  h6{
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: bold;
  }
}

footer {
  width: 100%;
  min-height: 100px;
  background-color: #68c78e;
  padding: 30px 0;
  margin-top: 50px;

  .footer-title {
    text-transform: uppercase;
    font-size: 1.1rem;
    color: white;
    font-weight: bold;
  }
}

.hero-img-pf {
  width: 100px;
}

.dsp {
  display: none;
}
