body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f7f7f7; }
  body h2 {
    margin-bottom: 20px; }
  body button {
    margin-bottom: 10px; }
  body label {
    font-size: 1rem; }
  body container {
    background-image: url(/public/images/logo-mastering-heroes.png); }
  body .h-200 {
    height: 200px; }
  body #fight {
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid black; }
  body .win {
    text-align: center;
    font-size: bold;
    padding: 10px 0;
    text-transform: uppercase;
    background-color: greenyellow;
    border-radius: 5px; }
    body .win h4 {
      margin: 0; }
  body .lose {
    text-align: center;
    font-size: bold;
    padding: 10px 0;
    text-transform: uppercase;
    background-color: tomato; }
    body .lose h4 {
      margin: 0; }
  body .selected-hero {
    min-height: 50px; }

.btn-change {
  transition: 0.4s; }

.btn-change:hover {
  transform: scale(1.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

a {
  color: #00b7ff; }

nav {
  margin-bottom: 30px; }

.row {
  max-width: 100%;
  margin: 0 auto; }

.navbar {
  padding: 15px 20px;
  background-color: #68c78e;
  border-bottom: 4px solid #fdd100; }
  .navbar img {
    height: 50px; }

.navbar-dark .navbar-nav .nav-link {
  color: white; }

.avatar {
  width: 100px;
  border-radius: 50%; }

.file-upload {
  position: absolute;
  padding: 50px 20px;
  background-color: rgba(10, 10, 10, 0.7);
  z-index: 100;
  color: white;
  border-radius: 4px; }
  .file-upload h6 {
    margin-bottom: 20px; }

.visibility {
  visibility: hidden; }

.main-img {
  width: 400px;
  max-width: 100%; }

.battle-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; }
  .battle-center h1 {
    text-align: center;
    margin-bottom: 30px; }

.index-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px; }
  .index-center h1 {
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase; }
  .index-center .carrousel {
    margin: 50px auto; }
  .index-center .img-carrousel {
    max-width: 300px;
    max-width: 100%; }
  .index-center input {
    max-width: 400px;
    border: 2px solid #68c78e; }
  .index-center .input-home {
    transition: 0.5s;
    width: 300px;
    max-width: 95%; }
  .index-center .input-home:hover {
    transform: scale(1.1); }

.card-index h6 {
  text-align: center; }

.card-img-top {
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  width: 100%; }

.card-img-index {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.5s; }

.card-img-index:hover {
  transform: scale(1.1); }

.canvas-size {
  width: 500px;
  max-width: 100%; }

.fav-btn {
  position: absolute;
  top: 10px;
  left: 30px; }
  .fav-btn .btn {
    text-transform: uppercase;
    background-color: #fdd100; }
  .fav-btn #favourite {
    line-height: 0; }

.btn-info {
  background-color: #68c78e;
  border-color: green;
  margin: 1rem; }

.spotify-section .spotify-img {
  width: 150px; }

.spotify-section h4 {
  text-transform: uppercase;
  margin-bottom: 30px; }

.spotify-section audio {
  margin: 30px 0;
  width: 150px;
  max-width: 100%; }

.movies-section {
  margin: 30px 0; }
  .movies-section .h-300 {
    height: 300px; }
  .movies-section .movies-img {
    width: 150px;
    max-width: 100%; }
  .movies-section h4 {
    text-transform: uppercase;
    margin-bottom: 30px; }
  .movies-section h6 {
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: bold; }

footer {
  width: 100%;
  min-height: 100px;
  background-color: #68c78e;
  padding: 30px 0;
  margin-top: 50px;
  clear: both; }
  footer .footer-title {
    text-transform: uppercase;
    font-size: 1.1rem;
    color: white;
    font-weight: bold; }

.hero-img-pf {
  width: 100px; }

.dsp {
  display: none; }

.list {
  padding: 0;
  max-width: 100%;
  list-style: none;
  padding: 10px 10px;
  text-transform: uppercase; }
  .list a {
    font-size: 16px;
    font-weight: 700; }

@media (max-width: 990px) {
  .nav-item {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase; }
  .navbar-nav {
    margin: 10px; } }

.dropdown-menu {
  display: block;
  background-color: #92f1a7; }

@media (max-width: 480px) {
  .index-center {
    margin-bottom: 20px; }
    .index-center h1 {
      font-size: 1.3rem; }
  .btn-info {
    margin: 0.1rem; } }

/*# sourceMappingURL=style.css.map */