<a href="/heroes">Return to list</a>
<br><br>
<div class="row">
  <div class="col-lg-5">
    <figure>
      <img class="main-img" src="{{image.url}}" alt="{{name}}">
    </figure>

  </div>
  <div class="col-lg-7">
    <h1>{{name}}</h1>

  </div>

</div>