<a href="/battles/">Return to battles</a>
<H1>Resultado de la batalla</H1>
<br><br>
<div class="row">
  <div class="col-lg-5">
   
  </div>
  
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script src="/javascripts/script.js"></script>