<div class="index-center">
  <h1>Heroes Battles</h1>
</div>
<div class="row">
  <div class="col-lg-6 d-flex align-items-center flex-column">
    <h4>Choose & add your heroes or villains</h4>
    <div class="input-home">
      <input class="form-control mr-sm-2 my-3" type="search" name="search" placeholder="Choose your fighter"
        aria-label="Search" id="index-input">
    </div>


    <div class="row characters-container mt-4">

    </div>
  </div>
  <div class="col-lg-6">
    <div class="d-flex align-items-center flex-column">
      <h4>Press & let's fight!!!</h4>

      <button id="fight" class="btn btn-warning px-5 py-2 my-3">Fight!!</button>
    </div>
    <h5 class="text-center mt-4">Team 1</h5>
    <div class="row selected-hero mt-4">
      <div class="col-lg-3">
        <span id="nameT1P0">
          <img src="" id="imgT1P0">
      </div>
      <div class="col-lg-3">
        <span id="nameT1P1">
          <img src="" id="imgT1P1">
      </div>
      <div class="col-lg-3">
        <span id="nameT1P2">
          <img src="" id="imgT1P2">
      </div>
      <div class="col-lg-3">
        <span id="nameT1P3">
          <img src="" id="imgT1P3">
      </div>
    </div>
    <h5 class="text-center mt-4">Team 2</h5>
    <div class="row selected-hero mt-4">
      <div class="col-lg-3">
        <span id="nameT2P0">
          <img src="" id="imgT2P0">
      </div>
      <div class="col-lg-3">
        <span id="nameT2P1">
          <img src="" id="imgT2P1 col-lg-3">
      </div>
      <div class="col-lg-3">
        <span id="nameT2P2">
          <img src="" id="imgT2P2">
      </div>
      <div class="col-lg-3">
        <span id="nameT2P3">
          <img src="" id="imgT2P3">
      </div>
    </div>
  </div>


</div>


<script src="/javascripts/battleScript.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>