<div class="index-center">
  <h1>Heroes Battles</h1>
  </div>

<button id="fight">Let's Fight!!!</button>
     {{#each team1}}
        {{name}}
        {{/each}}

 <div class="input-home">
    <input class="form-control mr-sm-2" type="search" name="search" placeholder="Choose your teams" aria-label="Search"
      id="index-input">
  </div>
</div>
<div class="row characters-container">
</div>

<script src="/javascripts/battleScript.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>