<div class="index-center">

  <h1>Heroes Battles</h1>





  </div>

<input type ="text" id="hero1">
<input type ="text" id="hero2">
<button id="fight">Fight</button>


Nombre 1:{{hero}} Nombre 2: {{team2.name}}

<script src="/javascripts/battleScript.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>