<h2>Mastering Hero list</h2>
<div class="row mb-5">
  <div class="col-md-2"><input class="btn btn-primary" id="sort" type="button" value="A-B"></div>
  <div class="col-md-2"><input class="btn btn-primary" id="sort" type="button" value="C-E"></div>
  <div class="col-md-2"><input class="btn btn-primary" id="sort" type="button" value="F-I"></div>
  <div class="col-md-2"><input class="btn btn-primary" id="sort" type="button" value="J-M"></div>
  <div class="col-md-2"><input class="btn btn-primary" id="sort" type="button" value="N-S"></div>
  <div class="col-md-2"><input class="btn btn-primary" id="sort" type="button" value="T-V"></div>

</div>

<div class="row sort-container">

</div>

<div class="row wo-sort">

  {{#each heroes}}

  <div class="col-md-3">
    {{>heroCard this}}
  </div>

  {{/each}}

</div>

<script src="/javascripts/sortScript.js"></script>
